body {
    background-color: hsl(268, 93%, 6%);
    color: white;
    font-family: 'Zen Dots', cursive;
    letter-spacing: 1.5px;
}

h3 {
    font-size: 42px;
}

h4 {
    font-size: 24px;
}

span {
    color: #fff;
    text-shadow: 1px 1px 10px #0000009b;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 5% 10%;
}

.score {
    margin: 2rem 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 3rem 10rem;
    box-shadow: 4px 10px 10px 3px #0000002e;
}

.lifeBar {
    background-color: #f2f2f2;
    border: 2px solid black;
    width: 300px;
    height: 30px;
    margin: 2rem
}

.lifeBar .life {
    height: 100%;
    background-image: linear-gradient(rgb(42, 241, 7), rgb(35, 184, 9));
    width: 100%;
}

.lifeBar .life.danger {
    background-image: linear-gradient(rgb(184, 9, 38),rgb(255, 32, 32)) !important;
}

.result, .welcome {
    text-align: center;
    text-transform: uppercase;
    padding: 3rem 10rem;
    box-shadow: 4px 10px 10px 3px #0000002e;
}

.win {
    text-shadow: -3px 3px 15px #000000c2;
    color: rgb(12, 206, 12);
}
.loose {
    text-shadow: -3px 3px 15px #000000c2;
    color: rgb(216, 12, 12);
}

.buttons {
    margin: 2rem 0;
    display: flex;
    justify-content: space-around;
    padding: 3rem 10rem;
    box-shadow: 4px 10px 10px 3px #0000002e;
}

.btn {
    padding: 10px 25px;
    margin: 0 2rem;
    border: none;
    color: #333;
    box-shadow: 4px 10px 10px 3px #0000002e;
    font-size: 18px;
    font-weight: bold;
    border-radius: 3px;
    text-transform: uppercase;
    opacity: 0.8;
    transition: 1s;
} 

.btn:hover {
    opacity: 1;
    transition: 1s;
    box-shadow: 7px 12px 10px 0px #0000004f;
    cursor: pointer;
}

.attack {
    background-image: linear-gradient(rgb(255, 32, 32),rgb(184, 9, 38));
}
.attack img, .special img, .heal img, .giveUp img {
    zoom: 0.1;
}

.special {
    background-image: linear-gradient(rgb(152, 0, 199),rgb(116, 7, 241));
}

.heal {
    background-image: linear-gradient(rgb(35, 184, 9),rgb(33, 126, 17));
}

.giveUp {
    background-image: linear-gradient(rgb(87, 87, 87), rgb(104, 104, 104));
}

.start {
    background-image: linear-gradient(rgb(5, 71, 226),rgb(27, 0, 182));
    color: white;
    padding: 15px 40px;
    max-height:50px;
    margin-top: auto;
    margin-bottom: auto;
}

.logs {
    margin: 2rem 0;
    box-shadow: 4px 10px 10px 3px #0000002e;
}

ul {
    display: flex;
    justify-content: center;
    padding-left: 0 !important;
    flex-direction: column;
    align-items: center;
}

.logs ul li {
    display: flex;
    justify-content: center;
    width: 65%;
    margin: .5rem 1rem;
    padding: 15px 0px;
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
    border-radius: 3px;
    box-shadow: 4px 10px 10px 3px #0000002e;
    text-shadow: 5px 5px 10px #00000057;
    opacity: 0.8;
}

.player {
    background-image: linear-gradient(rgb(5, 71, 226),rgb(27, 0, 182));
    color: #fff;
}

.monster {
    background-image: linear-gradient(rgb(56, 56, 56),rgb(0, 0, 0));
    color: #fff;
}
